.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
for more info on background images
https://css-tricks.com/perfect-full-page-background-image/
 */

  html { 
    background: url(https://imgr.search.brave.com/XdNgaV-2L3XTyy45skgQK6aaJfcliThpYfvMfSHPzLg/fit/948/225/ce/1/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5T/SnBwMnB3d1pnVXVs/TF9jUW9QbjhnSGFE/dCZwaWQ9QXBp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1{
    color: white;

}

h3, h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

a{
    color: white;
}

#spanId{
    font-size: 18px;
    margin: 50px;
    padding: 50px;
}

img{
    width: 400px;
}

.thirdDiv{
    background-color: bisque;
    border: 50px solid;
    border-color: black;
    padding: 50px;
    height: 600px;
    width: 500px;
}

.spanId{
    font-size: 18px;
    margin: 50px;
}

